# Default ignored files
/shelf/
workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
dataSources.local.xml

# Dossiers de compilation CMake
cmake-build-debug/
CMakeCache.txt
CMakeFiles/

# Fichiers de sortie de compilation
Makefile
*.cmake
*.o
*.a
*.so
